* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #527d77;
}

.wrap {
  margin: 0 auto;
  width: 80%;
}

.profile {
  margin-top: 50px;
}

.profile img {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 50%
}

.profile h1 {
  text-align: center;
  padding-top: 15px;
  font-family: 'Roboto Mono', monospace;
  color: #dae1e8;
}

g .links {
  margin-top: 35px;
}

.links a {
  margin-top: 20px;
  background-color: #0b101c;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  width: auto;
  line-height: 70px;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 30px;
  transition: all 0.5s ease-in-out 0s;
}

.links a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  border-style: solid;
  border-radius: 30px;
  transition: all 0.5s ease-in-out 0s;
  border-width: thin;
}

.bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.bottom-links img {
  width: 50px;
  padding: 0 20px
}

p {
  display: block;
  text-align: center;
  font-family: arial;
  color: #a6a6a6;
  margin-bottom: 25px;
}

h2 {
  display: block;
  text-align: center;
  color: #edf0ee;
  font-size: 150px;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  display: block;
  text-align: center;
  color: #edf0ee;
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .links a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    border-style: solid;
    border-radius: 30px;
    transition: all 0.5s ease-in-out 0s;
    border-width: thin;
  }

  .bottom-links {
    margin-bottom: 35px;
  }
}
